@model BirdFarm.ModelsBD.Egg
@{
    ViewData["Title"] = "Edit";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Auth.css" rel="stylesheet" />
    <title>Edit User</title>
</head>
<body class="back">
    <header class="header_up">
        <a class="logout-button" asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
        <a asp-area="" asp-controller="Admin" asp-action="Tools">Tools</a>
    </header>
    <form asp-controller="Admin" asp-action="SaveEditEgg" method="post">
        <input type="hidden" asp-for="EggID" />
        <div>
            <label>Egg Type:</label>
            <input asp-for="EggType" />
        </div>
        <div>
            <label>Egg Color:</label>
            <input asp-for="EggColor" />
        </div>
        <div>
            <label>Count Eggs:</label>
            <input type="text" asp-for="CountEggs" />
        </div>
        <div>
            <label>Price:</label>
            <input asp-for="Price" />
        </div>
        <input type="submit" value="Save">
    </form>
</body>
</html>
